/ {
   aliases {
       ble-status-led = &ble_status_led;
       sw0-led = &sw0_led;
       sw1-led = &sw1_led;
       matrix-col0 = &matrix_col0;
       matrix-row0 = &matrix_row0;
       matrix-row1 = &matrix_row1;
   };

    leds {
        compatible = "gpio-leds";
        
        ble_status_led: ble_status_led {
            gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
            label = "BLE Status LED";
        };
        
        sw0_led: sw0_led {
            gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
            label = "Switch 0 LED";
        };
        
        sw1_led: sw1_led {
            gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
            label = "Switch 1 LED";
        };
        
        matrix_col0: matrix_col0 {
            gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
            label = "Matrix Column 0 (Drive)";
        };
    };

    matrix_rows {
        compatible = "gpio-keys";
        
        matrix_row0: matrix_row0 {
            gpios = <&gpio0 24 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
            label = "Matrix Row 0 (Sense)";
        };
        
        matrix_row1: matrix_row1 {
            gpios = <&gpio0 26 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
            label = "Matrix Row 1 (Sense)";
        };
    };
};