/ {
   aliases {
       ble-status-led = &ble_status_led;
   };

    leds {
        compatible = "gpio-leds";
        
        ble_status_led: ble_status_led {
            gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
            label = "BLE Status LED";
        };
    };
};

// Disable GPIO forwarder to free up P1 pins
&gpio_fwd {
    status = "disabled";
};

